html {
    font-family: 'Source Code Pro', monospace;
    font-size: 10px;
}

body {
    background-color: gold;
}

.active {
    background-color: rgba(255, 215, 0, 0.5);
    border: 2px solid rgba(223, 179, 10, 0.5);
}