$button-width: 50px;
$button-height: 50px;
$color-text:#333;
$color-button:rgba(224, 224, 224, 0.8);
$color-button-border:rgb(194, 194, 194);
$color-shadow:rgba(0, 0, 0, 0.3);
$color-keys-container:rgba(255, 255, 255, 0.85);